* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

#boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#player02 {
  width: 100%;
}

.player {
  background-color: #080747;
  padding: 40px;
  border-radius: 20px;
}

.player-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  color: #e1e1e6;
  text-align: center;
}

.info p {
  opacity: 0.68;
  font-size: 16px;
  margin-top: 5px;
}

.player h1 {
  font-size: 24px;
  color: #e1e1e6;
  margin-top: 10px;
}

@media (min-width: 671px) {
  /* Larger screens */
  #boxes {
    flex-direction: row;
  }

  .info {
    text-align: left;
  }
}
