.searchDiv {
  background-color: #321f1f;
  color: black;
  z-index: 100;
  position: absolute;
  top: 75px;
  right: 136px;
  width: 30%;
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
}

/* .searchDiv .songSearchItem:not(:first-child) {
    margin-top: 25px;
} */
.songSearchItem {
  display: flex;
  margin-top: 25px;
  margin-left: 16px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.songDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 10px;
}
.songDetails .songName {
  font-size: 16px;
  color: white;
}
.songDetails .songArtists {
  color: white;
  font-size: 13px;
}
.searchDiv::-webkit-scrollbar {
  width: 6px;
}

.searchDiv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.searchDiv::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border: 4px solid transparent;
  border-radius: 8px;
}
